@charset "UTF-8";
body {
  background-color: #fffbf3;
}

.encabezado {
  background-color: #08aeff;
  color: white;
  height: 15vh;
  width: 100%;
  text-align: center;
  background-image: url(img/totoro.png);
  background-size: contain;
}

.imagenes {
  height: 50%;
  width: 50%;
  border-radius: 10%;
}

.menu, .linkpie {
  background-color: #337ab7;
  height: 10vh;
  text-align: center;
}

.menu .link, .linkpie .link {
  color: white;
  text-decoration: solid;
  font-size: 1.5vh;
  font-weight: 400;
}

.menu .link:hover, .linkpie .link:hover {
  color: gray;
  text-decoration: double;
  cursor: context-menu;
}

.titulos {
  text-align: center;
  padding: 2vh;
  font-size: 3vh;
  font-weight: 500;
}

.cartas .col {
  border-radius: 10px;
  background-color: #f4c59a;
  margin: 1vh;
}

.logoGhibli {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.linkpie {
  color: black;
  background-color: #fffbf3;
  text-decoration: solid;
  font-size: 3vh;
  border-color: #fffbf3;
}

@media (max-width: 599px) {
  p {
    font-size: 2vh;
    text-align: center;
  }
}

@media (min-width: 600px) {
  p {
    font-size: 1vh;
    text-align: center;
  }
  .menu, .linkpie {
    height: 5vh;
  }
}

.Descripcion {
  font-size: 70%;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .Descripcion {
    font-size: 100%;
    text-align: center;
  }
}

.contenido {
  border: black solid;
}

/* Agregar estilos para la tabla */
#tabla {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: black solid;
}

/* Media query para hacer la tabla responsive */
@media (max-width: 768px) {
  #tabla {
    overflow-x: auto;
  }
  table {
    width: 100%;
  }
  tr {
    display: flex;
    flex-wrap: wrap;
  }
  th,
td {
    flex-basis: calc(33.33% - 16px);
    /* Ajustar el tamaño de las celdas */
    max-width: calc(33.33% - 16px);
    padding: 8px;
    box-sizing: border-box;
    white-space: normal;
    /* Cambiamos a normal para que el texto se acomode según la pantalla */
    border: black solid;
  }
}
