

body{

    background-color: rgb(72, 194, 216);

    @media (max-width: 500px) {

        background-color: rgb(72, 216, 180);
        
    }
}

.encabezado{
    background-color: rgb(21, 18, 163);
    color: white;
    height: 23vh;
    width: 100%;
    text-align:center;
    background-image:url(totoro.png);
    background-size:contain;


  }


.imagenes{

    height: 100%;
    width: 100%;
}

.menu{
    background-color: rgb(37, 95, 180);
    height: 10vh;
    text-align:center;
   .link{

    color:rgb(255, 255, 255);
    text-decoration:solid;

    &:hover{
        color:gray;
        text-decoration: double;
        cursor: context-menu;

    }
   }

}

.titulos{
    text-align: left;
    padding: 10vh;
}

.cartas{
    
    .col{
        border-radius:10px;
        background-color: pink;
        margin: 5vh;
    }
}


    .logoGhibli{
        height: 30%;
        width: 30%;
        border-radius: 50%;
        
        
    }

.linkpie{
    @extend .menu;
    color: rgb(0, 0, 0);
    background-color: rgb(72, 194, 216);
    text-decoration: solid;
    font-size: 10vh;
}

p{
    font-size: 3vh;
    text-align: center;
}