$blue-head: rgb(51, 122, 183);
$back-body: rgb(255,251,243);
$blue-nav: rgb(8,174,255);
$back-card: rgb(244,197,154);

body{

    background-color: $back-body;
}

.encabezado{
    background-color: $blue-nav;
    color: white;
    height: 15vh;
    width: 100%;
    text-align:center;
    background-image:url(totoro.png);
    background-size:contain;
  }

.imagenes{
    height: 50%;
    width: 50%;
    border-radius: 10%;
}

.menu{
    background-color: $blue-head;
    height: 10vh;
    text-align:center;
   .link{
    color:rgb(255, 255, 255);
    text-decoration:solid;
    font-size: 1.5vh;
    font-weight: 400;
    &:hover{
        color:gray;
        text-decoration: double;
        cursor: context-menu;
    }
   }
}

.titulos{
    text-align: center;
    padding: 2vh;
    font-size: 3vh;
    font-weight: 500;
    
}

.cartas{
    .col{
        border-radius:10px;
        background-color: $back-card;
        margin: 1vh;
    }
}


.logoGhibli{
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

.linkpie{
    @extend .menu;
    color: rgb(0, 0, 0);
    background-color: $back-body;
    text-decoration: solid;
    font-size: 3vh;
    border-color: $back-body;
}

@media(max-width: 599px){
p{
    font-size: 2vh;
    text-align: center;
}

}

@media(min-width: 600px){
p{
    font-size: 1vh;
    text-align: center;
}
.menu{
  height: 5vh;
  
}

}



.Descripcion{
    font-size: 70%;
    text-align: left;
    
}

@media screen and (min-width: 1200px) {
    .Descripcion{
        font-size: 100%;
        text-align: center;
        
    }
}

.contenido{
    border:rgb(0, 0, 0) solid;
}


/* Agregar estilos para la tabla */
#tabla {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: black solid;
}

/* Media query para hacer la tabla responsive */
@media (max-width: 768px) {
  #tabla {
    overflow-x: auto;
  }

  table {
    width: 100%;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  th,
  td {
    flex-basis: calc(33.33% - 16px); /* Ajustar el tamaño de las celdas */
    max-width: calc(33.33% - 16px);
    padding: 8px;
    box-sizing: border-box;
    white-space: normal; /* Cambiamos a normal para que el texto se acomode según la pantalla */
    border: black solid;
  }
}

