

body{

    background-color: rgb(72, 194, 216);

    @media (max-width: 500px) {

        background-color: rgb(72, 216, 180);
        
    }
}

.encabezado{
    background-color: rgb(21, 18, 163);
    color: white;
    height: 23vh;
    width: 100%;
    text-align:center;
    background-image:url(totoro.png);
    background-size:contain;


  }


.imagenes{

    height: 50%;
    width: 50%;
    border-radius: 10%;
    
}

.menu{
    background-color: rgb(37, 95, 180);
    height: 10vh;
    text-align:center;
   .link{

    color:rgb(255, 255, 255);
    text-decoration:solid;

    &:hover{
        color:gray;
        text-decoration: double;
        cursor: context-menu;

    }
   }

}

.titulos{
    text-align: left;
    padding: 10vh;
}

.cartas{
    
    .col{
        border-radius:10px;
        background-color: pink;
        margin: 1vh;
    }
}


    .logoGhibli{
        height: 30%;
        width: 30%;
        border-radius: 50%;
        
        
    }

.linkpie{
    @extend .menu;
    color: rgb(0, 0, 0);
    background-color: rgb(72, 194, 216);
    text-decoration: solid;
    font-size: 3vh;
    border-color: black;
}

p{
    font-size: 3vh;
    text-align: center;
}

.Descripcion{
    font-size: 70%;
    text-align: left;
    
}

@media screen and (min-width: 1200px) {
    .Descripcion{
        font-size: 100%;
        text-align: center;
        
    }
}

.contenido{
    border:rgb(0, 0, 0) solid;
}

li{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 4vh;
}













/* Agregar estilos para la tabla */
#tabla {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: black solid;
}

/* Media query para hacer la tabla responsive */
@media (max-width: 768px) {
  #tabla {
    overflow-x: auto;
  }

  table {
    width: 100%;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  th,
  td {
    flex-basis: calc(33.33% - 16px); /* Ajustar el tamaño de las celdas */
    max-width: calc(33.33% - 16px);
    padding: 8px;
    box-sizing: border-box;
    white-space: normal; /* Cambiamos a normal para que el texto se acomode según la pantalla */
    border: black solid;
  }
}

